<footer class="text-center text-gray-500">
	<small>
		&copy;
		{{ ''|date('Y') }}
		<a href="{{ path('homepage') }}" target="_blank" class="underline">https://www.kaherecode.com</a>.
	</small>
</footer>
