body {
    background-color: rgb(243, 244, 246);
    padding: 20px 0;
    line-height: 22px;
}

.container {
    max-width: 400px;
    widows: 85%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

.container img {
    width: 95px;
}

.container h1 {
    font-size: 20px;
}

.container p {
    margin-top: 15px;
}

a.btn {
    display: block;
    background-color: rgb(17, 24, 39);
    color: #efefef;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.footer {
    margin-top: 10px;
    text-align: center;
}
