<header class="">
    <div class="flex justify-between items-center text-gray-400 p-3 bg-darkGray">
        <a href="">
            <img src="{{ asset('images/kaherecode.svg') }}" alt="Kaherecode" class="w-12 sm:w-14">
        </a>
        <ul class="flex items-center md:hidden">
            <li>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-300 h-7 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </a>
            </li>
            <li class="ml-6">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-300 h-8 w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </a>
            </li>
            <li class="ml-6">
                <img src="{{ asset('images/avatar.png') }}" alt="username" class="rounded-full w-12 cursor-pointer">
            </li>
        </ul>
        <ul class='hidden md:flex items-center'>
            <li>
                <a href='#' class='hover:text-white'>
                    Cours
                </a>
            </li>
            <li class='ml-6'>
                <a href='#' class='hover:text-white'>
                    Tutoriels
                </a>
            </li>
            <li class='ml-6'>
                <a href='#' class='hover:text-white'>
                    Forum
                </a>
            </li>
            <li class='ml-6'>
                <a href='#' class='hover:text-white'>
                    Chat
                </a>
            </li>
        </ul>
        <ul class="hidden md:flex items-center">
            <li>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-300 h-7 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </a>
            </li>
            <li class="ml-6">
                <a href="">
                    <img src="{{ asset('images/avatar.png') }}" alt="username" class="rounded-full w-12 cursor-pointer">
                </a>
            </li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="hidden md:block text-gray-700 text-sm py-1 bg-darkerGray">
        <ul class='flex justify-center items-center'>
            <li>
                <a href='#'>
                    #
                    <span class='text-gray-500 hover:text-gray-400'>
                        javascript
                    </span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>python</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>css</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>php</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>react</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #
                    <span class='text-gray-500 hover:text-gray-400'>angular</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>vue</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>django</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #
                    <span class='text-gray-500 hover:text-gray-400'>symfony</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #
                    <span class='text-gray-500 hover:text-gray-400'>laravel</span>
                </a>
            </li>
            <li class='ml-5'>
                <a href='#'>
                    #<span class='text-gray-500 hover:text-gray-400'>nodejs</span>
                </a>
            </li>
        </ul>
    </div>
</header>
