<div class="-mx-4">
    <div class="p-4 border-solid border-b border-gray-400 w-full sm:flex sm:items-start">
        <div class="w-56 hidden sm:block">
            <img src="https://www.kaherecode.com/uploads/tutorials/5e8bc69aee343.png" alt="" class="h-full w-full object-cover" />
        </div>
        <div class="sm:ml-2">
            <h2 class="font-bold text-lg tracking-wide">
                <a href="">Faites des API REST avec Symfony et API Platform</a>
            </h2>
            <div class="mt-2">
                <span class="text-gray-700 block">Publier le: 17 Mai 2020</span>
                <span class="text-gray-700 block">Modifier le: 18 Mai 2020</span>
                <span class='flex items-center'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye text-gray-700 h-4 w-4">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                    <span class='ml-2 text-gray-700'>2,000</span>
                </span>
            </div>
        </div>
    </div>
    <div class="p-4 border-solid border-b border-gray-400 w-full sm:flex sm:items-start">
        <div class="">
            <h2 class="font-bold text-lg tracking-wide">
                <a href="">Faites des API REST avec Symfony et API Platform</a>
            </h2>
            <div class="mt-2">
                <span class="block text-gray-700">Créer le: 10 Mai 2020</span>
                <span class="text-gray-700 block">Modifier le: 18 Mai 2020</span>
                <span class='flex items-center'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye text-gray-700 h-4 w-4">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                    <span class='ml-2 text-gray-700'>2,000</span>
                </span>
            </div>
        </div>
    </div>
</div>
