{% extends 'base.html.twig' %}
{% block title %}{{ tag|capitalize }} tutoriels | {{ parent() }}{% endblock %}
{% block body %}
<div class="hero text-center py-20">
    <div class="container">
        <h1 class="mt-4 font-bold text-3xl tracking-wide text-gray-900">
            Tutoriels - {{ tag|upper }}
        </h1>
    </div>
</div>
<div class="container">
    {# <div class="mt-5 flex items-center justify-between">
        <h2 class="font-bold text-gray-900 text-2xl">
            Tutoriels récents
        </h2>
        <span>
            <a href="#" class="underline text-blue-500">
                Voir plus...
            </a>
        </span>
    </div> #}

    {% include 'includes/_tutorials_list.html.twig' with {'tutorials': tag.tutorials} %}
</div>
{% endblock %}
