<h3>Hey {{ user.username }}!</h3>

<p>
    Tu as demander à modifier ton mot de passe sur Kaherecode. <br>
    Si cette requête ne viens pas de toi, tu peux ignorer ce mail et même le supprimer. Pour procéder à la modification de ton mail,
    <a href="{{ absolute_url(path('reset_password', {'token': user.confirmationToken})) }}">clique sur ce lien</a>.
</p>

<p style="margin-top: 1rem;">
    Tu peux aussi copier/coller ce lien dans ton navigateur
    <a href="{{ absolute_url(path('reset_password', {'token': user.confirmationToken})) }}">
        {{ absolute_url(path('reset_password', {'token': user.confirmationToken})) }}
    </a>.
</p>

<p style="margin-top: 1rem;">
    A très bientôt, <br>
    Aliou de Kaherecode
</p>
