{% extends 'emails/base.html.twig' %}

{% block content %}
{{ 'email.update_password'|trans|raw }}

<p>
    <a href="{{ url('reset_password', {'token': user.confirmationToken}) }}" class="btn">{{ 'title.change_password'|trans }}</a>
</p>

{% include 'emails/_email_closing.html.twig' %}
{% endblock %}
