{% extends 'emails/base.html.twig' %}

{% block content %}
<p>
    Clique sur le lien ci-dessous pour créer un nouveau mot de passe pour ton compte. Ce lien expire dans 24 heures.
</p>

<p>
    <a href="{{ url('reset_password', {'token': user.confirmationToken}) }}" class="btn">modifier mot de passe</a>
</p>

<p>
    Si tu n'as pas demander à modifier ton mot de passe, tu peux ignorer ce mail.
</p>
{% endblock %}
