<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>{% block title %}Kaherecode{% endblock %}</title>

        <link rel="icon" href="{{ asset('images/favicon.ico') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="bg-gray-200">
        {% include 'includes/_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'includes/_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script type="text/javascript">
            // hide all tabs except the active one
            const tabList = document.getElementsByClassName("tab-item");
            for (let i = 0; i < tabList.length; i++) {
                if (!tabList[i].classList.contains('active')) {
                    document.getElementById(tabList[i].getAttribute('data-target')).style.display = "none";
                }
            }

            function toggleTab(e) {
              // Get all elements with class="tab-content" and hide them
              const tabs = document.getElementsByClassName("tab-content");
              for (let i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
              }

              // Get all elements with class="tablinks" and remove the class "active"
              const tabLinks = document.getElementsByClassName("tab-item");
              for (let i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
              }

              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(e.currentTarget.getAttribute('data-target')).style.display = "block";
              e.currentTarget.className += " active";
            }
        </script>
    </body>
</html>
