<!DOCTYPE html>
<html lang="fr" class="dark">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<title>
			{% block title %}Kaherecode
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('images/favicon.ico') }}">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body class="transition-colors duration-200 bg-gray-100 dark:bg-gray-900">
		{% include 'includes/_header.html.twig' %}

		{% include 'includes/_search_bar.html.twig' %}

		{% block body %}{% endblock %}

		{% include 'includes/_footer.html.twig' %}

		{% block scripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
