{% extends 'base.html.twig' %}

{% block title %}Confirme ton compte |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-20 mb-20 md:mt-40 md:mb-40 md:w-1/2 md:mx-auto lg:w-1/3">
			{% if user %}
				<h1 class="font-bold text-xl mb-4">Bienvenue
					{{ user.username }}! Ton compte à été valider!</h1>
				<a class="text-blue-500 underline" href="{{ path('app_login') }}">Connecte-toi</a>
			{% else %}
				<h1 class="font-bold text-xl mb-4">Tu n'as aucune confirmation.</h1>
				<a class="text-blue-500 underline" href="{{ path('homepage') }}">Aller à l'accueil</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
